{% extends 'web/aluno/base.html' %}

{% block title %} Exercício {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">


    <div class="page-title">
      <div class="title_left">
        <h3>Exercício</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">


          <div class="x_title">
            <h2>Exercício {{ exercicio.codigo }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <b>Lista: </b> <a href="/lista_aluno/{{ lista.id }}">{{ lista.titulo }}</a> <br>
            <b>Grupo: </b> <a href="/grupo_aluno/{{ lista.grupo.id }}">{{ lista.grupo.nome }}</a> <br>
            <b>Professor: </b> {{ lista.grupo.professor.user.get_full_name }}<br>
            {% if exercicio_sub %}
            <b>Submissão Aceita: </b> <a target="_blank" href="/submissao_aluno/{{ exercicio_sub }}"> #{{ exercicio_sub }}</a><br>
            {% endif %}
            <br>
            <b>Título: </b> {{ exercicio.titulo }} <br>
            <b>Tempo Limite (s): </b> {{ exercicio.lim_tempo_s }} <br>
            <br><b>Descrição: </b> <br> {{ exercicio.descricao }} <br>
            <br><b>Exemplos:</b><br><br>
            <div class="well well-sm">
              <b>Entrada</b><br><br>
              {% for linha in exemplos.entrada %} {{ linha }} <br> {% endfor %}
            </div>
            <div class="well well-sm">
              <b>Saída</b><br><br>
              {% for linha in exemplos.saida %} {{ linha }} <br> {% endfor %}
            </div>
            <br>
            {% if pode_submeter %}
            <div class="ln_solid"></div>
            <a class="btn btn-primary" href="/submeter_exercicio_aluno/{{ lista.id }}/{{ exercicio.id }}">Submeter</a>
            {% else %}
            <div class="ln_solid"></div>
            <a class="btn btn-success" href="/resposta_exercicio_aluno/{{ lista.id }}/{{ exercicio.id }}">Ver Resposta</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
