{% extends 'web/professor/base.html' %}

{% block title %} Criar Exercício {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Criar Exercício</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


              <div class="x_title">
                <h2>Exercício</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                {% if mensagem != '' %}
                  <p>{{ mensagem }}</p>
                {% endif %}
                <br />
                <form id="exercicio-form" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigo">Código <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="codigo" name="codigo" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titulo">Título <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="titulo" name="titulo" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempo">Tempo Limite (s) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="tempo" name="tempo" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tamanho">Limite de Memória (KB) <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" id="tamanho" name="tamanho" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Descrição</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <textarea name="descricao" required="required" class="resizable_textarea form-control col-md-7 col-xs-12"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Exemplo de Entrada</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <textarea name="entrada" required="required" class="resizable_textarea form-control col-md-7 col-xs-12"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Exemplo de Saída</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <textarea name="saida" required="required" class="resizable_textarea form-control col-md-7 col-xs-12"></textarea>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Arquivos de Entrada</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input class="form-control-file" type="file" required="required" name="arquivos-entrada" multiple accept=".txt">
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Arquivos de Saída</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input class="form-control-file" type="file" required="required" name="arquivos-saida" multiple accept=".txt">
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                  </div>
                </form>



              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
