{% extends 'web/professor/base.html' %}

{% block title %} Criar Grupo {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Criar Grupo</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


              <div class="x_title">
                <h2>Grupo</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                {% if mensagem != '' %}
                  <p>{{ mensagem }}</p>
                {% endif %}
                <br />
                <form id="grupo-form" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="nome" name="nome" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <br>
                  <h2><b>Alunos</b></h2>
                  <div class="ln_solid"></div>
                  {% if alunos|length == 0 %}
                    <p>Não há nenhum aluno cadastrado.</p>
                  {% else %}
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                    			<th><input type="checkbox" id="check-all" class="flat"></th>
                          <th>RA</th>
                          <th>Nome</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for aluno in alunos %}
                          <tr>
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records" value="{{ aluno.user.id }}">
                            </td>
                            <td><a href="/perfil_aluno/{{ aluno.id }}" target="_blank">{{ aluno.id }}</a></td>
                            <td><a href="/perfil_aluno/{{ aluno.id }}" target="_blank">{{ aluno.user.get_full_name }}</a></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endif %}
                  <div class="ln_solid"></div>

                  <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">Enviar</button>
                  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                        </div>
                        <div class="modal-body">
                          <h4>Deseja realmente criar este grupo?</h4>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-success">Confirmar</a>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
{% endblock javascripts %}
