{% extends 'web/professor/base.html' %}

{% block title %} Exercícios {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Exercícios</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


              <div class="x_title">
                <h2>Exercício</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                {% if exercicios|length == 0 %}
                  <p>Você ainda não possui nenhum exercício.</p>
                {% else %}
                  <table id="datatable" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Título</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for exercicio in exercicios %}
                      <tr>
                        <td scope="row"><a href="/exercicio_professor/{{ exercicio.id }}">{{ exercicio.id }}</a></td>
                        <td scope="row"><a href="/exercicio_professor/{{ exercicio.id }}">{{ exercicio.titulo }}</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
                <br>
                <div class="ln_solid"></div>
                <a href="/criar_exercicio" class="btn btn-primary">Criar Exercício</a>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
{% endblock javascripts %}
