{% extends 'web/professor/base.html' %}

{% block title %} Exercício {{ exercicio.codigo }} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Exercício</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


              <div class="x_title">
                <h2>Exercício {{ exercicio.codigo }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <b>Título: </b> {{ exercicio.titulo }} <br>
                <b>Tempo Limite (s): </b> {{ exercicio.lim_tempo_s }} <br>
                <b>Limite de Memória (KB): </b> {{ exercicio.lim_memoria_k }} <br>
                <br><b>Descrição: </b> <br> {{ exercicio.descricao }} <br>
                <br><b>Exemplos:</b><br><br>
                <div class="well well-sm">
                  <b>Entrada</b><br><br>
                  {% for linha in exemplos.entrada %} {{ linha }} <br> {% endfor %}
                </div>
                <div class="well well-sm">
                  <b>Saída</b><br><br>
                  {% for linha in exemplos.saida %} {{ linha }} <br> {% endfor %}
                </div>
                <br>
                <div class="ln_solid"></div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">Excluir</button>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                      </div>
                      <div class="modal-body">
                        <h4>Tem certeza que deseja excluir o exercício {{ exercicio.codigo }}?</h4>
                      </div>
                      <div class="modal-footer">
                        <a href="/excluir_exercicio/{{ exercicio.id }}" class="btn btn-danger">Confirmar</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
