{% extends 'web/professor/base.html' %}

{% block title %} Grupo {{ grupo.nome }} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Grupo {{ grupo.nome }}</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Alunos</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                {% if grupo.alunos.all|length == 0 %}
                  <p>Este grupo não tem nenhum aluno.</p>
                {% else %}
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>RA</th>
                        <th>Nome</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for aluno in grupo.alunos.all %}
                      <tr>
                        <td scope="row"><a href="/perfil_aluno/{{ aluno.id }}">{{ aluno.id }}</a></td>
                        <td scope="row"><a href="/perfil_aluno/{{ aluno.id }}">{{ aluno.user.get_full_name }}</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Listas</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Desempenho</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>

              </div>
            </div>
          </div>
        </div>

        <div class="ln_solid"></div>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">Excluir</button>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
              </div>
              <div class="modal-body">
                <h4>Tem certeza que deseja excluir o grupo {{ grupo.nome }}?</h4>
              </div>
              <div class="modal-footer">
                <a href="/excluir_grupo/{{ grupo.id }}" class="btn btn-danger">Confirmar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
