{% extends 'web/professor/base.html' %}

{% block title %} Lista {{ lista.titulo }} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">


        <div class="page-title">
          <div class="title_left">
            <h3>Lista: {{ lista.titulo }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Dados</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <b>Grupo: </b> <a href="/grupo_professor/{{ lista.grupo.id }}">{{ lista.grupo.nome }}</a> <br>
                <b>Data/Hora Criação: </b> {{ lista.hora_criacao }}<br>
                <b>Prazo: </b> {{ lista.prazo }}<br>

                <!-- <div class="checkbox">
                    <label>
                      <input name="submeter" type="checkbox" class="flat" {% if lista.ver %} checked="checked" {% endif %} disabled="disabled"> Ver
                    </label>
                    {% if not lista.ver %}
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target=".ver-modal">Habilitar</button>
                      <div class="modal fade ver-modal " tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                            </div>
                            <div class="modal-body">
                              <h4>Deseja realmente habilitar visualização para alunos para lista {{ lista.titulo }}?</h4>
                            </div>
                            <div class="modal-footer">
                              <a href="/" class="btn btn-primary">Confirmar</a>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                </div> -->

                <b>Submeter: </b><span id="span-submeter">{% if lista.submeter %} Sim {% else %} Não {% endif %}</span>
                {% if not lista.submeter %}
                  <br><button id="btn-ativa-habilitar" type="button" class="btn btn-link" data-toggle="modal" data-target=".submeter-modal">Habilitar Submissão</button>
                  <div class="modal fade submeter-modal " tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                        </div>
                        <div class="modal-body">
                          <h4>Deseja realmente habilitar submissões para lista {{ lista.titulo }}?</h4>
                        </div>
                        <div class="modal-footer">
                          <button id="btn-habilitar" url-ativa-submeter="/habilita_submissao/{{ lista.id }}" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <br>
                <div class="ln_solid"></div>
                {% if lista.exercicios.all|length == 0 %}
                  <p>Esta lista não possui nenhum exercício.</p>
                {% else %}
                  <table id="datatable" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Título</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for exercicio in lista.exercicios.all %}
                      <tr>
                        <td scope="row">
                          <a href="/exercicio_professor/{{ exercicio.id }}">{{ exercicio.id }}</a>
                        </td>
                        <td scope="row">
                          <a href="/exercicio_professor/{{ exercicio.id }}">{{ exercicio.titulo }}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Submissões</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                {% if lista.exercicios.all|length == 0 %}
                  <p>Este lista não tem nenhum exercício.</p>
                {% else %}
                  {% for registro in alunos %}
                    <div class="ln_solid"></div>
                    <b>RA: </b>{{ registro.aluno.ra }}<br>
                    <b>Aluno: </b>{{ registro.aluno.user.get_full_name }}<br>
                    <!-- <a href="/perfil_aluno/{{ registro.aluno.id }}" target="_blank">{{ registro.aluno.user.get_full_name }}</a><br> -->
                    <b>Exercícios Resolvidos: </b>{{ registro.qtd_resolvida }}<br>

                    {% if registro.exercicios_aluno|length == 0 %}
                      <p>Não há submissões desse aluno.</p>
                    {% else %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Exercício</th>
                            <th>Tentativas</th>
                            <th>Status</th>
                            <th>Submissão Aceita</th>
                            <th>Submissões</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for exercicio_aluno in registro.exercicios_aluno %}
                            <tr>
                              <td scope="row">{{ exercicio_aluno.exercicio.id }} - {{ exercicio_aluno.exercicio.titulo }}</td>
                              <td scope="row">{{ exercicio_aluno.tentativas }}</td>
                              <td scope="row">
                                {% if exercicio_aluno.status %}
                                <span class="text-success"><b>Resolvido</b></span>
                                {% else %}
                                <span class="text-warning"><b>Não Resolvido</b></span>
                                {% endif %}
                              </td>
                              <td scope="row">
                                {% if exercicio_aluno.status %}
                                <a href="/submissao_exercicio_aluno/{{ exercicio_aluno.submissao_aceita }}">#{{ exercicio_aluno.submissao_aceita }}</a>
                                {% endif %}
                              </td>
                              <td scope="row">
                                {% if exercicio_aluno.tentativas %}
                                <a href="/submissoes_lista_aluno/{{ lista.id }}/{{ exercicio_aluno.exercicio.id }}/{{ registro.aluno.id }}">ver todas</a>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Estatísticas</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <b>Total de exercícios: </b> {{ lista.exercicios.all|length }} <br>
                <b>Total de tentativas: </b> {{ desempenho.total_tentativas }} <br>
                <br>
                <b>Média de exercícios resolvidos: </b> {{ desempenho.resolvidos|floatformat:2 }} <br>
                <b>Média de tentativas: </b> {{ desempenho.tentativas|floatformat:2 }} <br>
              </div>
            </div>
          </div>
        </div>

        <div class="ln_solid"></div>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">Excluir</button>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
              </div>
              <div class="modal-body">
                <h4>Tem certeza que deseja excluir a lista {{ lista.titulo }}?</h4>
              </div>
              <div class="modal-footer">
                <a href="/excluir_lista/{{ lista.id }}" class="btn btn-danger">Confirmar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".moss-modal">Submeter ao MOSS</button>
        <div class="modal fade moss-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
              </div>
              <div class="modal-body">
                <h4>Deseja realmente solicitar avaliação de similaridade entre as submissões da lista {{ lista.titulo }}?</h4>
                <h4>Você receberá um e-mail com os resultados.</h4>
              </div>
              <div class="modal-footer">
                <a href="/excluir_lista/{{ lista.id }}" class="btn btn-primary">Confirmar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
