{% extends 'web/professor/base.html' %}

{% block title %} Submissão {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/build/css/codemirror.css" media="screen" title="no title" charset="utf-8">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">


    <div class="page-title">
      <div class="title_left">
        <h3>Submissão</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Submissão {{ submissao.id }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li class="col-md-offset-9 col-sm-offset-9 col-xs-offset-9"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <b>Aluno: </b> {{ submissao.aluno.user.get_full_name }}<br>
                  <b>Status: </b> <b class="{% if submissao.status == 1 %} text-success {% elif submissao.status == 0 %} text-primary {% else %} text-danger {% endif %}">{{ submissao.status_str }}</b><br>
                  <b>Data/Hora: </b> {{ submissao.hora_submissao|date:'d/m/Y H:i' }}<br>
                  <b>Exercício: </b> <a href="/exercicio_professor/{{ submissao.exercicio.id }}">{{ submissao.exercicio.titulo }}</a> <br>
                  <b>Lista: </b> <a href="/lista_professor/{{ submissao.lista.id }}">{{ submissao.lista.titulo }}</a> <br>
                  <b>Grupo: </b> <a href="/grupo_professor/{{ submissao.lista.grupo.id }}">{{ submissao.lista.grupo.nome }}</a> <br>
                </div>
              </div>
            <div class="ln_solid"></div>
            <textarea id="editor-codigo-sub" name="editor_codigo" form="submissao">{{ codigo }}</textarea>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript" src="/static/build/js/codemirror.js"></script>
  <script type="text/javascript" src="/static/build/js/python.js"></script>
{% endblock javascripts %}
